<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atilsamancioglu.artbookhilttesting">

    <application>
        <!-- 새로 정의한 Activity를 명시해준다-->
        <activity android:name=".HiltTestActivity"
            android:exported="false">

        </activity>

    </application>

</manifest>
